
input {
    width: 200px;
    height: 30px;
    outline: none;
    box-sizing: border-box;
    padding: 1px;
    display: block;
    margin-bottom: 10px;

}
input:focus {
    border: 3px solid red;
    padding: 0;
}
input:hover {
    border: 3px solid blue;
    padding: 0;
}
input:focus:hover {
    border-color: green;
    padding: 0;
}
input[required] {
    background: #cccccc;
}
textarea {
    font-family: Arial,sans-serif;
    width: 100%;
    resize: none;
}
input[type=checkbox],
input[type=radio] {
    vertical-align: middle;
    width: auto;
    display: inline-block;
    margin-top: 10px;
}
input[type=checkbox] {
    opacity: 0;
}
input[type=checkbox] + label:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: #333333;
    border-radius: 2%;
}
input[type=checkbox]:checked + label:before {
    background: rebeccapurple;

}
section {
    position: relative;
    display: inline-block;
}
select {
    padding: 20px;
    background: #f9ffd0;
}
section:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: darkmagenta;
    position: absolute;
    top: 42%;
    right: 0;


}