@import url('https://fonts.googleapis.com/css?family=Arimo');
html {
    height: 100%;
}
body {
    background-image: url("images/mainbg.jpg");
    background-size: cover;
    padding-top: 7.6%;
}
.main {
    background: #152335;
    width: 686px;
    height: 391px;
    margin: auto;
    border-radius: 3%;
    position: relative;
}
.main__logo {
    margin: 25px 0 0 25px;
}
.main__shoes {
    position: absolute;
    left: 37px;
    bottom: 106px;
}
.main__icons {
    position: absolute;
    left: 175px;
    bottom: 15px;
    width: 200px;
    height: 15px
    /*background: rgba(255, 255, 255, 0.27);*/
}
.main__circle {
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    margin-right: 7px;
    margin-top: 3px;
}
.main__circle--gray {
    background: #293550;
    border: 2px solid #8A9099;
    width: 11px;
    height: 11px;
}
.main__circle--white {
    background: white;
}
.main__circle--red {
    background: #F34B42;
}
.main__circle--blue {
    background: #24E7EE;
}
.main__link {
    width: 100%;
    height: 100%;
}
.main__side {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 242px;
    padding-top: 55px;
}
.main__name {
    font-family: 'Arimo', sans-serif;
    color: #b2b6bc;
    font-size: 22px;
    margin-bottom: 0;
}
.main__description {
    font-family: 'Arimo', sans-serif;
    color: #86898f;
    font-size: 14px;
    margin: 10px 0 0 0;
}
.main__rating {
    margin-top: 23px;
}
.main__buttons {
    margin: 22px 0 0 2px;
}
.main__button {
    display: inline-block;
    width: 69px;
    height: 32px;
    border: 1px solid #86898f;
    position: relative;
    margin-right: -2px;
}
.main__b-text {
    color: #86898f;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    margin: 8px;
}
.main__arrow {
    position: absolute;
    top: 14px;
    right: 11.6px;
}
.main__add {
    margin: 28px 0 0 2px;
    width: 184px;
    height: 40px;
    background: #2A3545;
    border: 1px solid #86898f;
    color: #86898f;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
}
