.board {
    box-shadow: 15px -1px 17px 8px black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    height: 652px;
    width: 652px;
    background: #ffd28a;
    border: 6px solid black;
    outline: 10px solid #ffd28a;
    font-size: 0px;
}
.row div {
    display: inline-block;
    height: 80px;
    width: 80px;
    background: black;
    margin-right: 80px;
    position: relative;
}
.row :last-child {
    margin-right: 0;
}
.row:nth-child(even) {
    margin-left: 80px;
}
div.row .chess1 {
    box-shadow: -3px 3px #a06642;
    top: 3px;
    left: 9px;
    position: absolute;
    margin: 0px;
    box-sizing: border-box;
    height: 66px;
    width: 66px;
    background: #392922;
    border-radius: 50%;
}
div.row .chess2 {
    box-shadow: -3px 3px #e68167;
    top: 5px;
    left: 9px;
    position: absolute;
    margin: 0px;
    box-sizing: border-box;
    height: 66px;
    width: 66px;
    background: #B62528;
    border-radius: 50%;
}

